swagger: '2.0'
info:
  description: Schnittstelle zum Abruf von Tarifdaten und zur Übertragung von Bestellungen.
  version: 0.0.1
  title: Versorger-Schnittstelle
  contact:
    name: Oliver Liermann
    email: oliver.liermann@switch-for-climate.de
host: interface.green-provider.de
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /orders:
    post:
      summary: Bestellungen
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/order'
      responses:
        '200':
          description: Status 200
          schema:
            type: object
            properties:
              state:
                type: string
                enum:
                  - success
                  - error
              errors:
                type: array
                items:
                  type: string
            required:
              - state
          examples:
            success:
              state: success
        '400':
          description: Bad Request
          schema:
            type: object
            properties: {}
          examples:
            insufficient data:
              state: error
              errors:
                - xyz is missing
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      description: Übertragung einer Bestellung vom Partner zum Versorger
      security:
        - HTTP Auth: []
        - partnerId: []
      operationId: create-order
    x-restlet:
      section: Order
  /search-rates:
    get:
      summary: Tarifsuche
      description: |-
        Finde alle Tarife die den Parametern entsprechen.

        Wir haben uns hier im ersten Schritt für eine PLZ/Ort-genaue Abfrage entschieden, um die Komplexität gering zu halten. Es ist möglich dies um eine Netzbetreiber-ID zu erweitern, wenn es von Versorger-Seite erfordert wird.
      parameters:
        - name: customerGroup
          in: query
          required: false
          type: string
          description: Kundengruppe
          default: private
          enum:
            - private
            - corporate
          pattern: ^(private|corporate)$
        - name: energy
          in: query
          required: true
          type: string
          enum:
            - power
            - gas
          default: power
          pattern: ^(power|gas)$
          description: Energietyp
        - name: consumption
          in: query
          required: true
          type: number
          description: Verbrauch
          format: int32
          minimum: 1
        - name: zipCode
          in: query
          required: true
          type: string
          description: Postleitzahl
          pattern: '^[0-9]{5}$'
        - name: city
          in: query
          required: true
          type: string
          description: Ort
      responses:
        '200':
          description: Status 200
          schema:
            type: array
            items:
              $ref: '#/definitions/rate'
          examples: {}
        '400':
          description: Bad Request
          schema:
            type: object
            properties: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
      operationId: search-rates
    x-restlet:
      section: Product "switch"
    parameters: []
definitions:
  address:
    type: object
    description: Allgemeines Adressen-Modell
    example:
      company: ''
      salutation: mr
      firstName: Maximilian
      lastName: Mustermann
      street: Chapeaurougeweg
      houseNumber: 32a
      addition: 3. OG
      zipCode: '19370'
      city: Parchim
    x-restlet:
      section: General
    x-examples:
      example-1:
        company: ''
        salutation: mr
        firstName: Maximilian
        lastName: Mustermann
        street: Chapeaurougeweg
        houseNumber: 32a
        addition: 3. OG
        zipCode: '19370'
        city: Parchim
    properties:
      company:
        type: string
        description: Firma
      salutation:
        type: string
        description: Ansprache
        enum:
          - ms
          - mr
          - neutral
        default: neutral
      firstName:
        type: string
        description: Vorname
        example: Maximilian
      lastName:
        type: string
        description: Nachname
        example: Mustermann
      street:
        type: string
        description: Straße
        example: Chapeaurougeweg
      houseNumber:
        type: string
        description: Hausnummer
        example: 32a
      addition:
        type: string
        description: Adresszusatz
        example: 3. OG
      zipCode:
        type: string
        description: Postleitzahl
        pattern: '^[0-9]{5}$'
        example: '19370'
      city:
        type: string
        description: Stadt
        example: Parchim
    required:
      - firstName
      - lastName
      - street
      - houseNumber
      - zipCode
      - city
  order:
    type: object
    description: Bestellung
    x-restlet:
      section: Order
    x-examples: {}
    properties:
      refId:
        type: string
        description: kurze lesbare Referenz-ID
        minLength: 6
        maxLength: 10
        pattern: '^[a-z0-9]+$'
        example: d3ju45
      createdAt:
        type: string
        format: date
      updatedAt:
        type: string
        format: date
      customerGroup:
        type: string
        enum:
          - private
          - corporate
        default: private
      shippingAddress:
        $ref: '#/definitions/address'
      separateBillingAddress:
        type: boolean
      billingAddress:
        $ref: '#/definitions/address'
      contact:
        type: object
        properties:
          phone:
            type: string
          email:
            type: string
            format: email
        required:
          - email
      personal:
        type: object
        properties:
          birthday:
            type: string
            format: date
      payment:
        type: object
        properties:
          method:
            type: string
            enum:
              - debit
              - transfer
          accountDetails:
            type: object
            properties:
              iban:
                type: string
              bic:
                type: string
              bankName:
                type: string
              separateAddress:
                type: boolean
                default: false
              address:
                $ref: '#/definitions/address'
        required:
          - method
      searchSettings:
        type: object
        properties:
          customerGroup:
            type: string
            enum:
              - private
              - corporate
            default: private
          energy:
            type: string
            enum:
              - power
              - gas
          consumption:
            type: integer
          street:
            type: string
          zipCode:
            type: string
          city:
            type: string
          state:
            type: string
          operatorId:
            type: string
        required:
          - customerGroup
          - energy
          - consumption
          - zipCode
          - city
          - operatorId
      type:
        type: string
        enum:
          - switch
          - relocation
      meter:
        type: object
        properties:
          id:
            type: object
            required:
              - type
            properties:
              type:
                type: string
                enum:
                  - number
                  - maLoId
                default: number
              number:
                type: string
              maLoId:
                type: string
          reading:
            type: object
            properties:
              value:
                type: string
              date:
                type: string
                format: date
        required:
          - id
      previousContract:
        type: object
        properties:
          provider:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
          customerId:
            type: string
          cancellation:
            type: object
            properties:
              instructed:
                type: boolean
                default: false
              date:
                type: string
                format: date
            required:
              - instructed
      desiredDelivery:
        type: object
        properties:
          mode:
            type: string
            enum:
              - asap
              - date
          date:
            type: string
            format: date
        required:
          - mode
      switchRate:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          price:
            type: object
            properties:
              basePrice:
                type: number
              workingPrice:
                type: number
      comparisonRate:
        type: object
        properties:
          name:
            type: string
          provider:
            type: object
            properties:
              name:
                type: string
          price:
            type: object
            properties:
              basePrice:
                type: number
              workingPrice:
                type: number
    required:
      - createdAt
      - updatedAt
      - customerGroup
      - separateBillingAddress
  rate:
    title: rate
    type: object
    description: Tarifmodel
    properties:
      id:
        type: string
      name:
        type: string
      price:
        type: object
        properties:
          basePrice:
            description: Grundpreis pro Monat (Netto)
            type: number
          workingPrice:
            description: Arbeitspreis pro kWh (Netto)
            type: number
      terms:
        type: object
        properties:
          priceGuarantee:
            type: object
            properties:
              date:
                type: string
                format: date
              period:
                $ref: '#/definitions/period'
          minimumTerm:
            $ref: '#/definitions/period'
          cancelationPeriod:
            $ref: '#/definitions/period'
          extendedTerm:
            $ref: '#/definitions/period'
      staggeredPrices:
        type: array
        items:
          type: object
          properties:
            consumptionMin:
              type:
                - array
                - integer
              items:
                type: integer
            consumptionMax:
              type:
                - array
                - integer
              items:
                type: integer
            basePrice:
              type: number
            workingPrice:
              type: number
      bonuses:
        type: array
        items:
          type: object
          properties:
            type:
              type: string
              enum:
                - loyalty
                - instant
            calculation:
              type: string
              enum:
                - absolute
                - consumption-based
                - percent
            value:
              type: number
      energyMix:
        type: array
        items:
          type: object
          properties:
            source:
              type: string
              enum:
                - wind
                - solar
                - hydro
                - geothermal
                - biomass
            percent:
              type: number
    x-examples:
      Grüntarif:
        - id: gruen2021
          name: Grüner Superstrom
          price:
            basePrice: 9.8
            workingPrice: 28.5
          terms:
            priceGuarantee:
              date: '2021-12-31'
              period:
                unit: day
                duration: 0
            minimumTerm:
              unit: week
              duration: 4
            cancelationPeriod:
              unit: week
              duration: 6
            extendedTerm:
              unit: month
              duration: 1
          staggeredPrices:
            - consumptionMin: 1
              consumptionMax: 3000
              basePrice: 9.8
              workingPrice: 28.5
            - consumptionMin: 3001
              consumptionMax: 50000
              basePrice: 9.8
              workingPrice: 27.75
          bonuses: []
          energyMix:
            - source: solar
              percent: 12
            - source: wind
              percent: 42.5
            - source: hydro
              percent: 45.5
  period:
    title: period
    type: object
    properties:
      unit:
        type: string
        enum:
          - day
          - week
          - month
          - year
      duration:
        type: number
    description: Zeitraum
x-restlet:
  sections:
    General: {}
    Account: {}
    Order: {}
    Product "switch": {}
    Subscriptions: {}
    Service: {}
securityDefinitions:
  HTTP Auth:
    type: basic
    description: ''
  partnerId:
    type: apiKey
    in: header
    name: Partner-Id
    description: Identifikation des Anfragenden
responses: {}
security:
  - auth: []
